<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
<body style="background-color:#87CEEB;">
 <div class="login">
	<h1>Predict Drug Type</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

	<label for="Age">Age :</label>
	<input type="text" name="Age" placeholder="Age" required="required" />

 	<br><br><label for="Sex">Sex :</label>
	<select id="Sex" name="Sex">
  	<option value=1>Male</option>
  	<option value=0>Female</option>
	</select>	

 	<br><br><label for="BP">BP :</label>
	<select id="BP" name="BP">
  	<option value=0>High</option>
  	<option value=1>Low</option>
  	<option value=2>Normal</option>
	</select>

 	<br><br><label for="Cholesterol">Cholesterol :</label>
	<select id="Cholesterol" name="Cholesterol">
  	<option value=0>High</option>
  	<option value=1>Normal</option>
	</select>	

	<br><br><label for="Na_to_K">Na_to_K :</label>
	<input type="text" name="Na_to_K" placeholder="Na_to_K" required="required" />

	<br><br><button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br> <br>
   {{prediction_text}}

 </div>
 <img src="https://github.com/saadbinmunir/Heroku-Cloud-and-API-Deployment/blob/main/Capture.JPG" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo

</body>
</html>
